<aside style="background:#f2f2f2; margin: 0; padding: 0">
    <div class="page-title" style=" font-size:1rem; " >
        <br><br>
        <h3>About the author</h3>
        <p>I am a Ph.D. student of Italian Linguistics in the Department of Romance Languages at Palacky University of Olomouc, Czech Republic. <br>
        My interests span across computational linguistics, syntax theories, digital humanities and language acquisition.<br>
        You can find me more at marcopetolicchio.com</p>
        <br><br>

    </div>

</aside>
<div class="page-title" style=" font-size:1rem; " >
    <p style="font-variant: small-caps;">
        <span>2018 Marco Petolicchio | </span> 
        <span><a href="http://github.com/p-marco/phd-thesis" target="_blank"> Source Code </a></span> / 
        <span><a href="http://github.com/p-marco/phd-thesis/master.atom" target="_blank"> Feed Rss </a> </span>
    </p>
</div>