@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:200,300,400|IBM+Plex+Serif:200,300,400' );
.support {
  align-items: center;
  background: tomato;
  color: #fff;
  display: flex;
  font-size: .9rem;
  padding: 0 10px 0 0;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  z-index: 100;
}
.support a {
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
}
@supports (display: grid) {
  .support {
    background: #058a6e;
    right: 40px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    transition: right .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transition: right .5s ease-in-out, transform .5s ease-in-out;
    transition: right .5s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  .support:hover {
    right: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.support svg {
  fill: #ffffff;
  height: 30px;
  margin-right: 5px;
  padding: 5px;
  width: 30px;
}

.unsupported {
  display: block;
}
@supports (display: grid) {
  .unsupported {
    display: none;
  }
}

.supported {
  display: none;
}
@supports (display: grid) {
  .supported {
    display: block;
  }
}

main {
  display: flex;
  flex-wrap: wrap;

}
@media (min-width: 60em) {
  main {
    justify-content: flex-end;
  }
}
@supports (display: grid) {
  main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 60em) {
    main {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (min-width: 60em) {
  .intro {
    flex: 0 0 calc(50% - 3rem);
    margin-left: calc(25% - 3rem);
  }
}
@supports (display: grid) {
  .intro {
    grid-column: 1 / span 2;
  }
  @media (min-width: 60em) {
    .intro {
      grid-column: 2 / span 2;
      margin-left: 0.5rem;
    }
  }
}

@media (min-width: 60em) {
  .summary {
    order: 1;
  }
}
@supports (display: grid) {
  .summary {
    grid-column: 1 / span 2;
  }
  @media (min-width: 60em) {
    .summary {
      grid-column: 4 / span 1;
    }
  }
}

@supports (display: grid) {
  .post-content {
    grid-column: 1 / span 2;
  }
  @media (min-width: 60em) {
    .post-content {
      grid-column: 2;
    }
  }
}
@media (min-width: 60em) {
  .post-content {
    flex: 0 0 calc(50% - 3rem);
  }
  @supports (display: grid) {
    .post-content {
      grid-column: 2 / span 2;
    }
  }
}

.byline,
.social {
  flex: 0 0 calc(50% - 3rem);
}
@media (min-width: 60em) {
  @supports (display: flex) {
    .byline,
    .social {
      flex: 0 0 calc(25% - 3rem);
    }
  }
}

/* // Styles for fun
// ------------------------------------------------- */
body {
  background: #fff;
  color: #5a5c6c;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


@media (min-width: 60em) {
  @supports (display: flex) {
    div {
      flex: 0 0 calc(25% - 3rem);
    }
  }
}


.page-title {
  
  font-size: calc(1.5rem + .25vw);
  font-weight: 300;
  line-height: 1.3;
  margin: 1rem auto;
  max-width: 1366px;
  text-align: left;
 
    padding-bottom: 1rem
}

.page-title h1{
  font-weight: 300;
}
.post-title {
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0;
}
@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  .post-title:first-letter {
    color: #7a1f5c;
    font-weight: 700;
    initial-letter: 2;
    -webkit-initial-letter: 2;
  }
}

h2 {
  line-height: 1.2;
}

p,
.social a,
h3 {
  margin-top: 1rem;
}

a {
  color: #bf4080;
}
a:hover {
  color: #7c1d46;
}



.meta {
  font-family: Georgia, serif;
  font-size: calc(0.7rem + 0.25vw);
  font-style: italic;
}

main {
    margin:0 auto;
    max-width: 1366px;
}

.post-content p {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.25rem;
    line-height: 1.5;
  overflow-wrap: break-word
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-weight:300;
  text-align: justify;
}

.p-1em{
    padding:0;
}

html, body{
    margin: 0;
    padding:0;
}

.social a {
  text-decoration: none;
  color: inherit;
}

header, 
main,
aside {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.content-wrapper{
  padding-left:1rem;
  padding-right:1rem;
}

.no-listItems, .no-listItems *{
  margin:0;
  padding:0;
  list-style-type: none;
}


.no-listItems > li > a {
  font-variant: small-caps;
  font-weight: 700;
  line-height: 3;
}

.no-listItems > li > ul > li > a {
  font-weight: 700;
  
}



.no-listItems a {
  color: inherit;
  text-decoration:none;
}


.no-listItems {
    counter-reset: item
}
.no-listItems li {
    display: block
}
.no-listItems li:before {
    content: counters(item, ".")" ";
    counter-increment: item
}